---
import Layout from "../layouts/Layout.astro";
import Video from "../components/Video.astro";

const videos = [
  {
    title: "DON'T GET TOO CLOSE TO THE GIANT SPACE ENGINE",
    youtube_url: "https://www.youtube.com/watch?v=pAF2QDMNKoQ&vq=hd2160",
    hosted_video_url:
      "https://pub-72a1e46318194326b09d8d7e598a9615.r2.dev/SpaceEngine.mp4",
    description:
      "This is a 3D animation I've made using blender and precision gears plugin. My idea was to combine my love to the mighty space and machines. But as much as I love any kind of mechanical systems, I am also well aware of the dangers of handling them without caution. I have worked a lot with potentially deadly machines in my life and the plot of the videos is essentially my thoughts working with them. It’s all fascinating, fun and games until you make 1 thoughtless move and it’s all over. I'm not scared of machines, but I have deep respect working with them.",
  },
  {
    title: "[ANOMALY]",
    youtube_url: "https://www.youtube.com/watch?v=qAc5PcoTpHU&vq=hd2160",
    hosted_video_url:
      "https://pub-72a1e46318194326b09d8d7e598a9615.r2.dev/%5BANOMALY%5D%20-%20Looped.webm",
    description:
      "A more personal video. I've made this using Blender. In this video I wanted to express my feelings I have about not being normal but wanting to while it feels like everyone today is talking about being different and how great it is. Don't understand me wrong. Not everything about being different sucks, there are a lot of positive traits in which I’m different, but also bad ones. Not being the norm means a lot of difficulties in life because people often don't understand me and what I'm doing and almost all the things on this world are of course made for the norm as you please the most amount of people at the same time like this. I often overexplain myself because I want to be sure that person x understands my chaotic thought process because I often confuse people with my words and actions until I explain myself. So, I often overexplain myself before I can confuse them which also confuses them sometimes. I look at things and problems in different ways than others and have very unconventional specific interests. That also means I can't really share my enthusiasm for many things as it’s almost impossible to find someone with the same unconventional and specific interests.",
  },
  {
    title: "YOUR LAST HEARTBEATS IN THE SIMULATION",
    youtube_url: "https://www.youtube.com/watch?v=Q4gTcZNhJjU&vq=hd2160",
    hosted_video_url:
      "https://pub-72a1e46318194326b09d8d7e598a9615.r2.dev/YOUR%20LAST%20HEARTBEATS%20IN%20THE%20SIMULATION.webm",
    description:
      "After I've listened to the song you hearing my brain instantly imagined a video to it as always. I saw the EKG line dancing to the beeps, the setting, the camera movement, the colorpallete etc. The only problem: I haven't used any 3D modeling software in years. But not having a clue about something never held me back trying it out at least. So, I got to work, downloaded blender and started messing around with it. I had to refresh my knowledge about 3D animation and learn to work with nodes as this wasn't a thing when I last used such program. I struggled a lot with the program at the beginning but after a while I understood the parts which I needed for this video and could start experimenting with them. I had a lot of fun until I had to render the video. As I barely had any experience in 3D animation yet. My testrenders were really noisy and slow. After a while I started to like the noisiness of the reflection from the emitted light. But I also ran out of nerves, so I decided to fully render my project, despite the bad optimization and noisiness. It took 7 whole days to render these 50 seconds where I couldn't use my pc for anything else. At the beginning of the render process, the individual frames didn’t take long to render. But after about a day, the time for each frame increased as more elements, like the mountains, appeared in the viewport. Naturally, this took more time to calculate since there was more visible content on the screen. However, I was already too deep into the render to throw away the current progress and attempt to optimize my chaotic project. But I'm proud of it anyways.",
  },
  {
    title: "EXPERIMENT #1",
    youtube_url: "https://www.youtube.com/watch?v=VbZihcNN1rk&vq=hd2160",
    hosted_video_url:
      "https://pub-72a1e46318194326b09d8d7e598a9615.r2.dev/Experiment%20%231.webm",
    description:
      "This one I've made in After Effects with the Trapcode plugin. With this plugin you don't really model things like in a 3D software like blender. It's more just math equations influencing other math equations. But you can also import 3D models as .obj filed to then manipulate them with this plugin. I used Trapcode Soundkeys to make the elements move to different frequencies. With Soundkeys, you can define a frequency spectrum and output that spectrum as a specific range of values in the form of keyframes. I really love Trapcode, but it’s way too expensive to just play around with for fun, so I sadly don’t own the license for the plugin anymore.",
  },
  {
    title: "[TIMELAPSE ON CANVAS]",
    youtube_url: "https://www.youtube.com/watch?v=zd0tUNFGPXc&vq=hd2160",
    hosted_video_url:
      "https://pub-72a1e46318194326b09d8d7e598a9615.r2.dev/%5B%20TIMELAPSE%20ON%20CANVAS%20%5D.webm",
    description:
      "Here I had the Idea of animating an art museum in blender but the pictures are timelapses from the real world. I just used a random timelapse I wasn't using for anything else for this test. While working on it I had the idea of having a marble globe as levitating statue thingy which is exploding as metaphor for how we are destroying our own beautiful world. But to be honest, I just thought it would look kinda cool.",
  },
  {
    title: "REACTIVE 3D-THINGY AUDIOVISUALIZER",
    youtube_url: "https://www.youtube.com/watch?v=kV-lsoYgXg4&vq=hd2160",
    hosted_video_url:
      "https://pub-72a1e46318194326b09d8d7e598a9615.r2.dev/Audio%20Visualation%20CloZee%20-%20Falcon%20(Dropout%20Marsh%20Remix)%20%5BOtodayo%20Records%5D%20By%20Pudding%20Panzer.webm",
    description:
      "This is also a video I've made playing around with the Trapcode plugin in After Effects. Can't give you new insights as I have already written everything interesting about Trapcode in my \"Experiment #1\" video.",
  },
  {
    title: "REACTIVE VINYL AUDIOVISUALIZER",
    youtube_url: "https://www.youtube.com/watch?v=RMpisEsYaME&vq=hd2160",
    hosted_video_url:
      "https://pub-72a1e46318194326b09d8d7e598a9615.r2.dev/Outside%20City%20-%20Housetrain.webm",
    description:
      "Here you can see an audiovisualizer I made for a friend a long time ago. I've made the Soundwavebarthings with Trapcode. The picture on the vinyl was made on my phone playing around with different photo editing apps. Then I downloaded a random picture of a vinyl from google which I then just rotated around its own axis.",
  },
];
---

<Layout title="3D ANIMATIONS & VISUALS" />
<style>
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

  .sticky-nav {
    position: absolute;
    top: 20vh;
    width: 100%;
    z-index: 50;
    background-color: #2d3748 opacity-0; /* Tailwind bg-gray-800 */
    color: white;
    padding: 0rem;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      box-shadow 0.3s ease,
      border-bottom 0.3s ease; /* Transition for shadow and border */
  }

  .sticky-nav.sticky {
    position: fixed;
    top: 0;
    background-color: white; /* Change to white when sticky */
    color: black; /* Text color change for visibility */
    border-bottom: 3px solid black; /* Thicker black border at the bottom */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* More intense shadow */
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    padding: 10px;
    line-height: 1;
    margin: 6px;
    flex-direction: column; /* Stacks the text vertically */
  }

  .nav-item a {
    color: inherit;
    transition: color 0.3s ease;
    text-align: center;
    line-height: 1.1; /* Adjust the spacing between lines when they stack */
  }
  /* Change color on hover */
  .nav-item:hover a {
    color: #cc4e5c;
    /* Set the desired hover color */
  }

  /* Style for "My Work" title */
  .my-work-title {
    position: absolute;
    top: 12vh; /* Move the title down by 20% of the viewport */
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    z-index: 40;
  }

  /* Custom text size for title */
  .text-custom-size {
    white-space: nowrap; /* Prevent text from wrapping */
    font-size: 14rem; /* Set a fixed font size */
    text-align: center; /* Center the text */
    margin: 0 auto; /* Center alignment */
    top: 5vh; /* Move the title down by 10% of the viewport height */
    position: relative; /* Relative positioning to allow top adjustment */
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .z-[100] {
    position: relative;
    z-index: 100; /* High z-index to ensure visibility */
  }
  .custom-line-height {
    line-height: 0.8; /* Adjust the value as needed */
  }
</style>

<!-- New "My Work" title -->
<h2 class="my-work-title">MY WORK</h2>

<nav class="sticky-nav">
  <ul class="flex justify-between items-center w-full">
    <li class="nav-item font-bold text-2xl flex-1">
      <a href="/CALMNESS">CALMNESS</a>
    </li>
    <li class="nav-item font-bold text-2xl flex-1">
      <a href="/DESTRUCTION">DESTRUCTION</a>
    </li>
    <li class="nav-item font-bold text-2xl flex-1">
      <a href="/EXPERIMENTAL">EXPERIMENTAL</a>
    </li>
    <li class="nav-item font-bold text-2xl flex-1">
      <a href="/3D-ANIMATIONS-AND-VISUALS">
        <span>3D ANIMATIONS</span>
        <span>& VISUALS</span>
      </a>
    </li>
    <li class="nav-item font-bold text-2xl flex-1">
      <a href="/MADE-ON-AND-WITH-THE-PHONE">
        <span>MADE WITH &</span>
        <span>ON THE PHONE</span>
      </a>
    </li>
  </ul>
</nav>

<div class="relative h-[90vh] w-full flex justify-center items-center">
  <video
    class="fixed top-0 left-0 w-full h-full object-cover z-10"
    autoplay
    muted
    loop
  >
    <source
      src="https://pub-72a1e46318194326b09d8d7e598a9615.r2.dev/SpaceEngine.mp4"
      type="video/mp4"
    />
  </video>
  <div class="absolute inset-0 z-20 bg-black opacity-30"></div>
  <h1
    class="absolute text-[#70a0a0] mix-blend-difference z-10 font-mono text-custom-size custom-line-height"
    id="title"
  >
    3D ANIMATIONS <br />
    & VISUALS
  </h1>
</div>

<div>
  {
    videos.map((vid) => (
      <Video
        title={vid.title}
        youtube_url={vid.youtube_url}
        hosted_video_url={vid.hosted_video_url}
        description={vid.description}
      />
    ))
  }
</div>
<div class="relative flex z-30 bg-red -mb-4 p-4 mix-blend-difference">
  <div>
    <a
      class="flex text-white font-mono justify-center items-center text-8xl hover:text-[#cc4e5c] transition-colors duration-300"
      href="/">BACK HOME</a
    >
  </div>
</div>

<script>
  // Check if the window object is defined to run the script
  if (typeof window !== "undefined") {
    window.addEventListener("scroll", function () {
      const navbar = document.querySelector(".sticky-nav");
      const stickyOffset = window.innerHeight * 0.25;

      if (window.scrollY >= stickyOffset) {
        navbar.classList.add("sticky");
      } else {
        navbar.classList.remove("sticky");
      }
    });

    const title = document.getElementById("title");
    const updateTitleSize = () => {
      const maxFontSize = 14; // Maximum font size in rem
      const minMargin = 20; // Minimum margin in pixels
      const availableWidth = window.innerWidth - 2 * minMargin; // Calculate available width with minimum margin
      title.style.fontSize = maxFontSize + "rem";
      const actualWidth = title.scrollWidth;

      // If the title exceeds available width, scale it down
      if (actualWidth > availableWidth) {
        const scaleFactor = availableWidth / actualWidth;
        title.style.fontSize = maxFontSize * scaleFactor + "rem";
      } else {
        // Ensure title is at max size if it fits
        title.style.fontSize = maxFontSize + "rem";
      }
    };

    window.addEventListener("resize", updateTitleSize);
    window.addEventListener("load", updateTitleSize);
    updateTitleSize();
  }
</script>
