---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Destruction">
  <!-- New "My Work" title -->
  <h2 class="my-work-title">MY WORK</h2>

  <div class="relative h-[90vh] w-full flex justify-center items-center">
    <!-- <video
      class="fixed top-0 left-0 w-full h-full object-cover z-10"
      autoplay
      muted
      loop
    >
      <source
        src="https://pub-72a1e46318194326b09d8d7e598a9615.r2.dev/gears%20fertig%20ohni%20text%20aber%20k%C3%B6rnig.mp4"
        type="video/mp4"
      />
    </video> -->
    <div class="absolute inset-0 z-20 bg-black opacity-30"></div>
    <h1
      class="absolute text-[#70a0a0] mix-blend-difference z-10 font-mono text-custom-size"
      id="title"
    >
      INSANE BRAIN
    </h1>
  </div>

  <div class="relative z-30 bg-white" style="top: -8vh">
    <div class="pl-2">
      <p class="text-gray-700 text-6xl italic font-black">
        WHO AM I AND WTF DO I DO?
      </p>
      <p class="text-gray-700 text-2xl -mt-1.5 pl-3">
        Hello I'm at least way to fuul zum was schribe darum: Lorem ipsum dolor
        sit amet consectetur adipisicing elit.<span class="text-red-800"
          >pls scroll...</span
        > Aspernatur, doloremque unde. Aliquid reiciendis, saepe consequatur ratione
        repellendus obcaecati, debitis ex molestias aut impedit ipsum tempora tempore
        blanditiis odio dolore maiores. <br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis sit cupiditate,
        quia voluptatibus reprehenderit quam. Neque dolores error officia reprehenderit
        incidunt unde deleniti, commodi veritatis. Vero perferendis recusandae illo
        qui.
        <br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis sit cupiditate,
        quia voluptatibus reprehenderit quam. Neque dolores error officia reprehenderit
        incidunt unde deleniti, commodi veritatis. Vero perferendis recusandae illo
        qui. <br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis sit cupiditate,
        quia voluptatibus reprehenderit quam. Neque dolores error officia reprehenderit
        incidunt unde deleniti, commodi veritatis. Vero perferendis recusandae illo
        qui. <br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis sit cupiditate,
        quia voluptatibus reprehenderit quam. Neque dolores error officia reprehenderit
        incidunt unde deleniti, commodi veritatis. Vero perferendis recusandae illo
        qui.
      </p>
    </div>
  </div>

  <div class="relative my-10 z-30 bg-white" style="top: -8vh">
    <div class="pl-2">
      <p class="text-gray-700 text-6xl italic font-black">
        LALALA LULULU ICH LOS DE TEIL MOL VO SUPERMAVEN USFÜLLE
      </p>
      <p class="text-gray-700 text-2xl -mt-1.5 pl-3">
        Supermaven write me scrollcontents scrollcontents scrollcontents er het
        scho abkackt. also mit eif text ischer müll hahahahahhaha ich gang
        wieder zrug ufs guete alte Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Quidem tempore ipsum repellendus eum ab eius libero
        doloremque aliquid recusandae laborum, consequuntur nulla consequatur
        natus, excepturi deleniti totam reprehenderit iusto similique!
        <br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis sit cupiditate,
        quia voluptatibus reprehenderit quam. Neque dolores error officia reprehenderit
        incidunt unde deleniti, commodi veritatis. Vero perferendis recusandae illo
        qui.
      </p>
    </div>
  </div>

  <div class="relative z-30 bg-white" style="top: -8vh">
    <div class="pl-2">
      <p class="text-gray-700 text-6xl italic font-black">
        SO ICH SOETT EIG SCHOLANG PENNE
      </p>
      <p class="text-gray-700 text-2xl -mt-1.5 pl-3">
        Hush, little baby, don't say a word. Papa's gonna buy you a mockingbird
        And if that mockingbird won't sing, Papa's gonna buy you a diamond ring
        And if that diamond ring turns brass, Papa's gonna buy you a looking
        glass And if that looking glass gets broke, Papa's gonna buy you a billy
        goat And if that billy goat won't pull, Papa's gonna buy you a cart and
        bull And if that cart and bull turn over, Papa's gonna buy you a dog
        named Rover And if that dog named Rover won't bark Papa's gonna buy you
        a horse and cart And if that horse and cart fall down, You'll still be
        the sweetest little baby in town.<br />
        Hush, little baby, don't say a word. Papa's gonna buy you a mockingbird And
        if that mockingbird won't sing, Papa's gonna buy you a diamond ring And if
        that diamond ring turns brass, Papa's gonna buy you a looking glass And if
        that looking glass gets broke, Papa's gonna buy you a billy goat And if that
        billy goat won't pull, Papa's gonna buy you a cart and bull And if that cart
        and bull turn over, Papa's gonna buy you a dog named Rover And if that dog
        named Rover won't bark Papa's gonna buy you a horse and cart And if that
        horse and cart fall down, You'll still be the sweetest little baby in town.
      </p>
      <p class="text-gray-700 text-2xl -mt-1.5 pl-3">
        Hush, little baby, don't say a word. Papa's gonna buy you a mockingbird
        And if that mockingbird won't sing, Papa's gonna buy you a diamond ring
        And if that diamond ring turns brass, Papa's gonna buy you a looking
        glass And if that looking glass gets broke, Papa's gonna buy you a billy
        goat And if that billy goat won't pull, Papa's gonna buy you a cart and
        bull And if that cart and bull turn over, Papa's gonna buy you a dog
        named Rover And if that dog named Rover won't bark Papa's gonna buy you
        a horse and cart And if that horse and cart fall down, You'll still be
        the sweetest little baby in town.<br />
        Hush, little baby, don't say a word. Papa's gonna buy you a mockingbird And
        if that mockingbird won't sing, Papa's gonna buy you a diamond ring And if
        that diamond ring turns brass, Papa's gonna buy you a looking glass And if
        that looking glass gets broke, Papa's gonna buy you a billy goat And if that
        billy goat won't pull, Papa's gonna buy you a cart and bull And if that cart
        and bull turn over, Papa's gonna buy you a dog named Rover And if that dog
        named Rover won't bark Papa's gonna buy you a horse and cart And if that
        horse and cart fall down, You'll still be the sweetest little baby in town.
      </p>
      <p class="text-gray-700 text-2xl -mt-1.5 pl-3">
        Hush, little baby, don't say a word. Papa's gonna buy you a mockingbird
        And if that mockingbird won't sing, Papa's gonna buy you a diamond ring
        And if that diamond ring turns brass, Papa's gonna buy you a looking
        glass And if that looking glass gets broke, Papa's gonna buy you a billy
        goat And if that billy goat won't pull, Papa's gonna buy you a cart and
        bull And if that cart and bull turn over, Papa's gonna buy you a dog
        named Rover And if that dog named Rover won't bark Papa's gonna buy you
        a horse and cart And if that horse and cart fall down, You'll still be
        the sweetest little baby in town.<br />
        Hush, little baby, don't say a word. Papa's gonna buy you a mockingbird And
        if that mockingbird won't sing, Papa's gonna buy you a diamond ring And if
        that diamond ring turns brass, Papa's gonna buy you a looking glass And if
        that looking glass gets broke, Papa's gonna buy you a billy goat And if that
        billy goat won't pull, Papa's gonna buy you a cart and bull And if that cart
        and bull turn over, Papa's gonna buy you a dog named Rover And if that dog
        named Rover won't bark Papa's gonna buy you a horse and cart And if that
        horse and cart fall down, You'll still be the sweetest little baby in town.
      </p>
    </div>
  </div>

  <div class="relative my-10 z-30 bg-white" style="top: -8vh">
    <div class="pl-2">
      <p class="text-gray-700 text-6xl italic font-black">
        LALALA LULULU ICH LOS DE TEIL MOL VO SUPERMAVEN SCHRIBE
      </p>
      <p class="text-gray-700 text-2xl -mt-1.5 pl-3">
        Supermaven write me scrollcontents scrollcontents scrollcontents er het
        scho abkackt. also mit eif text ischer müll hahahahahhaha ich gang
        wieder zrug ufs guete alte Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Quidem tempore ipsum repellendus eum ab eius libero
        doloremque aliquid recusandae laborum, consequuntur nulla consequatur
        natus, excepturi deleniti totam reprehenderit iusto similique!
        <br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis sit cupiditate,
        quia voluptatibus reprehenderit quam. Neque dolores error officia reprehenderit
        incidunt unde deleniti, commodi veritatis. Vero perferendis recusandae illo
        qui.
      </p>
    </div>
  </div>

  <div class="relative z-30 bg-red" style="top: -6vh">
    <div>
      <a
        class="flex text-[#0000EE] mix-blend-difference underline blue justify-center items-center text-6xl"
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >TOTALLY TRUSTWORTHY LINK</a
      >
    </div>
  </div>
</Layout>
