---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li
  class="flex p-[1px] bg-[#23262d] rounded-[3px] shadow-inner hover:bg-[--accent-gradient] group"
>
  <a
    class="w-full p-6 rounded-lg text-white bg-[#292d36] opacity-80"
    href={href}
  >
    <h2 class="text-2xl transition-colors group-hover:text-red-500">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="mt-4">
      {body}
    </p>
  </a>
</li>
