---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="node_modules/lite-youtube-embed/src/lite-yt-embed.css"
    />
  </head>
  <body>
    <!-- Sticky Navigation -->
    <nav
      class="sticky top-0 w-full z-50 bg-gray-800 text-white transition-colors duration-300 ease-in-out"
    >
      <ul class="flex justify-between items-center w-full">
        <li
          class="font-bold text-2xl flex-1 flex justify-center items-center h-24"
        >
          <a
            href="/CALMNESS"
            class="transition-colors duration-300 ease-in-out text-center hover:text-[#ff2300]"
          >
            CALMNESS
          </a>
        </li>
        <li
          class="font-bold text-2xl flex-1 flex justify-center items-center h-24"
        >
          <a
            href="/DESTRUCTION"
            class="transition-colors duration-300 ease-in-out text-center hover:text-[#ff2300]"
          >
            DESTRUCTION
          </a>
        </li>
        <li
          class="font-bold text-2xl flex-1 flex justify-center items-center h-24"
        >
          <a
            href="/EXPERIMENTAL"
            class="transition-colors duration-300 ease-in-out text-center hover:text-[#ff2300]"
          >
            EXPERIMENTAL
          </a>
        </li>
        <li
          class="font-bold text-2xl flex-1 flex justify-center items-center h-24"
        >
          <a
            href="/3D-ANIMATIONS-AND-VISUALS"
            class="transition-colors duration-300 ease-in-out text-center hover:text-[#ff2300]"
          >
            <span>3D ANIMATIONS</span>
            <span>& VISUALS</span>
          </a>
        </li>
        <li
          class="font-bold text-2xl flex-1 flex justify-center items-center h-24"
        >
          <a
            href="/MADE-ON-AND-WITH-THE-PHONE"
            class="transition-colors duration-300 ease-in-out text-center hover:text-[#ff2300]"
          >
            <span>MADE WITH &</span>
            <span>ON THE PHONE</span>
          </a>
        </li>
      </ul>
    </nav>

    <h1>This title is on every page</h1>
    <slot />

    <footer class="bg-gray-800 text-white">
      <div
        class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row"
      >
        <p class="text-gray-400 text-sm">
          Made with ❤️ by
          <a class="underline" href="https://twitter.com/johannesjo">Johannes</a
          >
        </p>
      </div>
    </footer>

    <script is:inline src="node_modules/lite-youtube-embed/src/lite-yt-embed.js"
    ></script>
  </body>
</html>
